
<div class="grid wide">
    <nav class="header__navbar hide-on-mobile-tablet">
        <ul class="header__navbar-list">
            <li class="header__navbar-list-item">
                Vào cửa hàng trên ứng dụng F8-Shop
                <div class="header__qr">
                    <img class='header__qr-img' src="/assets/img/QR.png" alt="QR code">
                    <div class="header__qr-apps">
                        <img class="header__qr-download-img" src="/assets/img/app_store.png"
                            alt="App Store">
                        <img class="header__qr-download-img" src="/assets/img/google_store.png"
                            alt="Google Store">
                    </div>
                </div>
            </li>
            <li class="header__navbar-list-item header__navbar-list-item--none-border">
                <span class="header__navbar--no-poiter">Kết nối</span>
                <a class="header__navbar-icon-link" href="https://www.facebook.com/"><i
                        class="header__navbar-icon fab fa-facebook"></i></a>
                <a class="header__navbar-icon-link" href="https://www.instagram.com/"><i
                        class="header__navbar-icon fab fa-instagram-square"></i></a>
            </li>
        </ul>
        <ul class="header__navbar-list">
            <li
                class="header__navbar-list-item header__navbar-list-item--none-border header__navbar-item--has-notify">
                <a class="header__navbar-list-item-link" href="#">
                    <i class="header__navbar-icon far fa-bell"></i>
                    Thông báo
                </a>
                <div class="header__notify">
                    <header class="header__notify-header">
                        <h3>Thông Báo Mới Nhận</h3>
                    </header>
                    <ul class="header__notify-list">
                        <li class="header__notify-item header__notify--no-viewed">
                            <a href="#" class="header__notify-link">
                                <img class="header__notify-img" src="/assets/icon/avatar_shopee.png"
                                    alt="Ảnh shopee">
                                <div class="header__notify-info">
                                    <span class="header__notify-title">Shop nhớ bạn!</span>
                                    <span class="header__notify-description">Lâu rồi chưa gặp lại bạn shop
                                        nhơ bạn quá :v</span>
                                </div>
                            </a>
                        </li>
                        <li class="header__notify-item header__notify--no-viewed">
                            <a href="#" class="header__notify-link">
                                <img class="header__notify-img" src="/assets/icon/avatar_shopee.png"
                                    alt="Ảnh shopee">
                                <div class="header__notify-info">
                                    <span class="header__notify-title">Săn sale cực đã với 7 mã
                                        FreeShip</span>
                                    <span class="header__notify-description">7 mã FreeShip có sẵn trong
                                        ví.Thêm mã hoàn 77K xu vào lúc 9H & 10H.Vào săn sale nhé!</span>
                                </div>
                            </a>
                        </li>
                        <li class="header__notify-item ">
                            <a href="#" class="header__notify-link">
                                <img class="header__notify-img" src="/assets/icon/avatar_shopee.png"
                                    alt="Ảnh shopee">
                                <div class="header__notify-info">
                                    <span class="header__notify-title">Chỉ 10K mua 1 được 5 Voucher</span>
                                    <span class="header__notify-description">3 mã FreeShip từ đơn 0Đ, 1 mã
                                        FreeShip từ đơn 99k, 1 mã hoàn 10K xu khi quét ShopPay.Mua là
                                        lời,đừng bỏ lỡ bạn ơi! </span>
                                </div>
                            </a>
                        </li>
                        <li class="header__notify-item ">
                            <a href="#" class="header__notify-link">
                                <img class="header__notify-img" src="/assets/icon/avatar_shopee.png"
                                    alt="Ảnh shopee">
                                <div class="header__notify-info">
                                    <span class="header__notify-title">Shop nhớ bạn!</span>
                                    <span class="header__notify-description">Lâu rồi chưa gặp lại bạn shop
                                        nhơ bạn quá :v</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <footer class="header__notify-footer">
                        <a class="header__notify-footer-btn" href="#">Xem tất cả</a>
                    </footer>
                </div>
            </li>
            <li class="header__navbar-list-item header__navbar-list-item--none-border">
                <a class="header__navbar-list-item-link" href="#">
                    <i class="header__navbar-icon far fa-question-circle"></i>
                    Trợ giúp
                </a>
            </li>
            <li class="header__navbar-list-item header__navbar-list-item--strong">
                <a href="./Register/register.html" class="header__navbar-link" >Đăng kí </a> 
            </li>
            <li class="header__navbar-list-item header__navbar-list-item--strong header__navbar-list-item--none-border">
                <a href="./Login/login.html" class="header__navbar-link">Đăng nhập</a> 
            </li>
            <!-- User -->
            <li class="header__navbar-list-item header__navbar-user header__navbar-list-item--none-border">
                <img src="/assets/icon/avatar_user.jpg" alt="" class="header__navbar-user-img">
                <span class="header__navbar-user-name">UserName</span>
                <ul class="header__navbar-user-menu">
                    <li class="header__navbar-user-item">
                        <a href="#">Tài khoản của tôi</a>
                    </li>
                    <li class="header__navbar-user-item">
                        <a href="#">Địa chỉ của tôi</a>
                    </li>
                    <li class="header__navbar-user-item">
                        <a href="#">Đơn mua</a>
                    </li>
                    <li class="header__navbar-user-item">
                        <a href="/Login/login.html">Đăng xuất</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Header with search -->
    <div class="header-with-search">
        <div class="header-mobile">
            <label for="check-menu" class="header-mobile-menu hide-on-tablet-PC">
                <i class="mobile-search-icon fas fa-bars"></i>
            </label>
            <label for="check-search" class="mobile-search hide-on-tablet-PC">
                <i class="mobile-search-icon fas fa-search"></i>
            </label>
        </div>
        <div class="header__logo hide-on-tablet">
            <a href="/" class="header__logo-link">
                <img src="/assets/icon/16M-logos_white.png" alt="" class="header-logo__img" >
            </a>
        </div>
        <input type="checkbox" id="check-search" class="header-check-search">
        <div class="header__search">
            <div class="header__search-input-wrap">
                <input type="text" class="header__search-input" placeholder="Search">
                <!-- Search history -->
                <div class="header__search-history">
                    <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                    <ul class="header__search-history-list">
                        <li class="header__search-history-item">
                            <a href="#">Đàn Guitar</a>
                        </li>
                        <li class="header__search-history-item">
                            <a href="#">Đàn Piano</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="header__search-select">
                <span class="header__search-select-label">Trong Shop</span>
                <i class="header__search-select-icon fa fa-angle-down" aria-hidden="true"></i>
                <ul class="header__search-option">
                    <li class="header__search-option-item header__search-option-item-active">
                        <span>Trong Shop</span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </li>
                    <li class="header__search-option-item">
                        <span>Ngoài Shop </span>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </li>
                </ul>
            </ul>
            <button class="header__search-btn">
                <i class="header__search-btn-icon fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <!-- Cart layout -->
        <div class="header__cart">
            <div class="header__cart-wrap">
                <i class="header__cart-icon fas fa-shopping-cart"></i>
                <span class="header__cart-notice">3</span>
                <!--No cart: header__cart-list--no-cart  -->
                <div class="header__cart-list ">
                    <img class="header__cart-no-cart-img"
                        src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9bdd8040b334d31946f49e36beaf32db.png"
                        alt="no-cart">
                    <p class="header__cart-list-no-cart-msg">Chưa có sản phẩm</p>


                    <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                    <ul class="header__cart-list-item">
                        <li class="header__cart-item">
                            <img src="https://cf.shopee.vn/file/89612d35cf05653ef138ca938d8049eb_tn"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Bộ kem trị vùng mắt</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">2000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">1</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/196e3c8447e85aceefd0fafaa1fa2e93.png_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Nước hoa nam Poseidon Dylan Men's
                                        Cologne Eau De Toilette Tươi mát và Lâu dài Tự nhiên</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">3000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">4</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/6a46d4a49ec2fdd7ecbd440097074306.jpg_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Đèn chớp nháy dễ tắt dễ sử dụng</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">4000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">2</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://cf.shopee.vn/file/89612d35cf05653ef138ca938d8049eb_tn"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Bộ kem trị vùng mắt</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">2000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">1</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/196e3c8447e85aceefd0fafaa1fa2e93.png_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Nước hoa nam Poseidon Dylan Men's
                                        Cologne Eau De Toilette Tươi mát và Lâu dài Tự nhiên</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">3000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">4</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/6a46d4a49ec2fdd7ecbd440097074306.jpg_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Đèn chớp nháy dễ tắt dễ sử dụng</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">4000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">2</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://cf.shopee.vn/file/89612d35cf05653ef138ca938d8049eb_tn"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Bộ kem trị vùng mắt</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">2000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">1</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/196e3c8447e85aceefd0fafaa1fa2e93.png_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Nước hoa nam Poseidon Dylan Men's
                                        Cologne Eau De Toilette Tươi mát và Lâu dài Tự nhiên</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">3000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">4</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/6a46d4a49ec2fdd7ecbd440097074306.jpg_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Đèn chớp nháy dễ tắt dễ sử dụng</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">4000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">2</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://cf.shopee.vn/file/89612d35cf05653ef138ca938d8049eb_tn"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Bộ kem trị vùng mắt</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">2000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">1</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/196e3c8447e85aceefd0fafaa1fa2e93.png_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Nước hoa nam Poseidon Dylan Men's
                                        Cologne Eau De Toilette Tươi mát và Lâu dài Tự nhiên</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">3000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">4</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/6a46d4a49ec2fdd7ecbd440097074306.jpg_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Đèn chớp nháy dễ tắt dễ sử dụng</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">4000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">2</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://cf.shopee.vn/file/89612d35cf05653ef138ca938d8049eb_tn"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Bộ kem trị vùng mắt</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">2000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">1</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/196e3c8447e85aceefd0fafaa1fa2e93.png_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Nước hoa nam Poseidon Dylan Men's
                                        Cologne Eau De Toilette Tươi mát và Lâu dài Tự nhiên</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">3000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">4</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-item">
                            <img src="https://vn-test-11.slatic.net/p/6a46d4a49ec2fdd7ecbd440097074306.jpg_200x200Q100.jpg_.webp"
                                alt="Clothing" class="header__cart-item-img">
                            <div class="header__cart-item-infor">
                                <div class="header__cart-item-head">
                                    <h5 class="header__cart-item-name">Đèn chớp nháy dễ tắt dễ sử dụng</h5>
                                    <div class="header__cart-item-price-wrap">
                                        <span class="header__cart-item-price">4000000đ</span>
                                        <span class="header__cart-item-multiply">x</span>
                                        <span class="header__cart-item-qnt">2</span>
                                    </div>
                                </div>
                                <div class="header__cart-item-body">
                                    <span class="header__cart-item-description">Phân loại: Bạc</span>
                                    <span class="header__cart-item-remove">Xóa</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn--primary header__cart-view-cart">Xem giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="header__sort-bar">
    <li class="header__sort-item header__sort-item--active">
        <a href="" class="header__sort-link">Liên quan</a>
    </li>
    <li class="header__sort-item">
        <a href="" class="header__sort-link">Mới nhất</a>
    </li>
    <li class="header__sort-item">
        <a href="" class="header__sort-link">Bán chạy</a>
    </li>
    <li class="header__sort-item">
        <a href="" class="header__sort-link">Giá</a>
    </li>
</ul>